vectordbs/
*.pyc
__pycache__/
Chain.egg-info/
/__pycache__/
*/__pycache__/*
__pycache__/*
chains/__pycache__/
tests/__pycache__/
.env
/data/
ask_wrapper.sh
/databases/
*.log
.DS_Store/
tests/assets/*
.pytest_cache/
*.db
multimodal/tts/asset/*
*.npz
multimodal/tts/audio_files/*
uv.lock
