{# generate json_schema with: json.dumps(response_model.model_json_schema(), indent=2, ensure_ascii=False) #}

As a genius expert, your task is to understand the content and provide
the parsed objects in json that match the following json_schema:\n

{{json_schema}}

Make sure to return an instance of the JSON, not the schema itself.

